/* General */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    background: rgb(164,179,245);

    display: flex;
    flex-direction: column;
    align-items: start;
}

/* Markdown headers */
h1 {
    color: rgb(252, 155, 45);
    text-decoration: underline;
}

/* Fix transparent background in some list elements */
table tr {
    background-color: #1b1b1b;
    box-shadow: 0px 0px #1b1b1b;
}

/* Fix weird size on small window */
.post-content table {
    width: 100%;
}

/* Same */
@media screen and (max-width: 800px) {
    .post-content table {
        display: table;
        width: 100%;
    }
}

th {
    background:#1b1b1b;
}

/* SyobonKZ style text */
.wiki-text {
    color: rgb(242,156,56);
    text-shadow:
    -1px -1px 0 black,
    0px -1px 0 black,
    1px -1px 0 black,
    -1px  0px 0 black,
    0px  0px 0 black,
    1px  0px 0 black,
    -1px  1px 0 black,
    0px  1px 0 black,
    1px  1px 0 black;
    font-size: 2vw;
    font-family:sans-serif;
}

@media (pointer: coarse) {
    .wiki-text {
        font-size: 7vw;
    }
}

.syobonkz-title {
    font-size: 5vw;
    text-align: left;
    align-self: start;
    padding-left: 3.5vw;
    padding-right: 3.5vw;
}
